@import url('https://fonts.googleapis.com/css2?family=Playpen+Sans:wght@100..800&family=Puritan:wght@400;700&family=Shippori+Mincho:wght@400;500;600;700;800&family=Zen+Kaku+Gothic+New:wght@300;400;500;700;900&display=swap');
@import "tailwindcss";

@theme {
  --color-background: #F7F0F0;
  --color-foreground: #918C86;
  --color-muted: #ffffff;
  --color-accent: #918C86;
  --color-pink: #DA8387;
  --color-green: #96D2BB; 
  --font-playpen-sans: "Playpen Sans", cursive;
  --font-zen-kaku: "Zen Kaku Gothic New", sans-serif;
  --font-shippori: "Shippori Mincho", serif;
  --font-puritan: "Puritan", sans-serif;
}

@layer base {
  html,
  body {
    margin: 0;
    min-height: 100%;
  }

  body {
    background: var(--color-background);
    color: var(--color-foreground);
    font-family: var(--font-zen-kaku);
  }
}
